parameters:
    level: max

    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true

    paths:
        - src

    scanDirectories:
        - vendor
