parameters:
	ignoreErrors:
		-
			message: "#^Method ipl\\\\Validator\\\\BetweenValidator\\:\\:__construct\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/BetweenValidator.php

		-
			message: "#^Method ipl\\\\Validator\\\\DeferredInArrayValidator\\:\\:__construct\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DeferredInArrayValidator.php

		-
			message: "#^Method ipl\\\\Validator\\\\DeferredInArrayValidator\\:\\:getHaystack\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DeferredInArrayValidator.php

		-
			message: "#^Method ipl\\\\Validator\\\\EmailAddressValidator\\:\\:__construct\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EmailAddressValidator.php

		-
			message: "#^Method ipl\\\\Validator\\\\FileValidator\\:\\:__construct\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/FileValidator.php

		-
			message: "#^Method ipl\\\\Validator\\\\GreaterThanValidator\\:\\:__construct\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/GreaterThanValidator.php

		-
			message: "#^Method ipl\\\\Validator\\\\InArrayValidator\\:\\:__construct\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/InArrayValidator.php

		-
			message: "#^Method ipl\\\\Validator\\\\InArrayValidator\\:\\:findInvalid\\(\\) has parameter \\$values with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/InArrayValidator.php

		-
			message: "#^Method ipl\\\\Validator\\\\InArrayValidator\\:\\:findInvalid\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/InArrayValidator.php

		-
			message: "#^Method ipl\\\\Validator\\\\InArrayValidator\\:\\:getHaystack\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/InArrayValidator.php

		-
			message: "#^Method ipl\\\\Validator\\\\InArrayValidator\\:\\:setHaystack\\(\\) has parameter \\$haystack with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/InArrayValidator.php

		-
			message: "#^Property ipl\\\\Validator\\\\InArrayValidator\\:\\:\\$haystack type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/InArrayValidator.php

		-
			message: "#^Method ipl\\\\Validator\\\\LessThanValidator\\:\\:__construct\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/LessThanValidator.php

		-
			message: "#^Method ipl\\\\Validator\\\\StringLengthValidator\\:\\:__construct\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/StringLengthValidator.php

		-
			message: "#^Class ipl\\\\Validator\\\\ValidatorChain implements generic interface IteratorAggregate but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/ValidatorChain.php

		-
			message: "#^Method ipl\\\\Validator\\\\ValidatorChain\\:\\:addValidators\\(\\) has parameter \\$validators with no value type specified in iterable type iterable\\.$#"
			count: 1
			path: src/ValidatorChain.php

		-
			message: "#^Method ipl\\\\Validator\\\\ValidatorChain\\:\\:getValidatorsThatBreakTheChain\\(\\) return type with generic class SplObjectStorage does not specify its types\\: TObject, TData$#"
			count: 1
			path: src/ValidatorChain.php

		-
			message: "#^Method ipl\\\\Validator\\\\ValidatorChain\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ValidatorChain.php

		-
			message: "#^Property ipl\\\\Validator\\\\ValidatorChain\\:\\:\\$validatorsThatBreakTheChain with generic class SplObjectStorage does not specify its types\\: TObject, TData$#"
			count: 1
			path: src/ValidatorChain.php
